.ClearFloat {
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-header-wrap {
    background-color:#f0f0f0 !important;
}
.main-header .nav ul li {
  font-size: .9em;
  font-weight: 700;
  padding-bottom:.75%;
}
.main-header .nav {
  background-color: transparent;
}
.main-header .nav ul li a, .main-header .nav ul li a:visited {
    text-decoration: none;
    color:#222;
}
#StdMsg {
  background-image:url('/images/TransBlue_60Pct.png'); 
  border: 1px solid #666666;
  color: #FFFFFF;
  font-size: 2.5em;
  font-weight: 700;
  left: 10%;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 80%;
  z-index: 10000;
}
#zw-slider {
    height: 690px;
}
.main-header .main-header-wrap {
  padding: 33px 0 0 !important;
}
.TopOfPage {
    display:none;
}
.section-block {
  padding: 100px 0;
}
#BottCred {
    display:none;
}
.main-header .brand img {
  max-height: inherit;
}
.main-header #nav-toggle {
  display: none;
}
.main-header .brand {
  margin-bottom: 40px;
}
.main-header .main-header-wrap .brand {
  margin: 0 0 10px !important;
  height:auto !important;
}
.StdXPage {
  padding: 0 20px;
}
#XPage_116 {display:none;}