/* 
    Document   : newCascadeStyleSheet
    Created on : Jul 19, 2013, 10:19:12 AM
    Author     : elopez971
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

