/* 
    Document   : newCascadeStyleSheet
    Created on : Jun 25, 2013, 10:21:53 AM
    Author     : elopez971
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

